DB_HOST=localhost
DB_PORT=5432

POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=realestate

PGADMIN_EMAIL=admin@gmail.com
PGADMIN_PASSWORD=123456

DATABASE_URL=postgresql://admin:123456@postgres:5432/realestate

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_URL=amqp://rabbitmq:5672

CENTRIFUGO_API_KEY=
CENTRIFUGO_TOKEN_SECRET=